*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: whitesmoke;
}
.navbar-bar{
 margin-left: 70px  ;   
}
ul li a {
    color: white;
}

#home{
    height: 700px;
    background: url("./images/BG.jpg") center fixed no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    h1{
        font-size: 42px !important;
    }
}
#about{
    height: auto;
    h2{font-weight: bold;
    }
    p{
        margin-top: 10px;      
    }
}
#bg{
    height: auto;
  img{
    width: 100%;
    height: 100%;
  }
}
#comp{
    
    background-color: rgb(166, 52, 166);
    h2{color: whitesmoke;
    font-weight: bold;}
    p{
        color:white;
    } 
}
footer{
    color: white;
    .links{
    display: flex;
    justify-content: space-evenly;
}}
